coverage.out

# Dependencies
vendor/
bin/

# IDEs
.idea
.vscode
.DS_Store

# Random
local/


# Generated outputs
.coverage/
.taskctl/
.eirctl/
.deps/
# local env files
*.env
# prof outputs
.pprof

__debug_bin.exe
